<!DOCTYPE>
<html>
  <head>
    <title>WebDev from Scratch</title>

    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/hello.css" />
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
